*{
    padding:0;
    margin:0;
}
html{
    height: 100%;
}
body{
    height: 761px;
    width: 1536px;
    margin:0 auto;
    color: blue;
    background-color: skyblue;
}
#header{
    width: 100%;
    height: 100px;
    background-color: green;
}
#headertop{
    background: skyblue;
    height: 50%;
    width: 100%;
    font-size: 20px;
}
#headertop span{
    float: left;
    display: block;
    height: 30px;
    width: 200px;
    text-align: center;
    padding: 10px 0;
}
#headertop ul{
    float: left;
    width: 1300px;
    height: 50px;
    font-size: 15px;
}
#headertop ul li:first-child {
    margin-left: 750px;
    border-left: 2px blue solid;
}
#headertop li{
    list-style:none;
    float: left;
    margin-left: 14px;
    margin-top: 30px; 
    border-right: 2px blue solid;
}
#headerpath{
    height: 50%;
    width: 100%;
    background: skyblue;
    border-top: white 1px solid;
}
.headerpathspan{
    float: left;
    display: block;
    height: 30px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
}
#headerpath img{
    float: left;
    height: 35px; 
    width: 35px;
    margin-top: 10px;
    margin-left: 5px;
}
#path{
    height: 35px;
    width: 1200px;
    float: left;
    margin-top: 8px;
    margin-left: 20px;
    background: white;
}
#main{
    width: 1536px;
    height: 661px;
}
#mainleft{
    margin-top: -6px;
    float: left;
    height: 661px;
    width: 300px;
}
#mainright{
    margin-top: -6px;
    float: left;
    height: 661px;
    width: 1234px;
    margin-left: 2px;
    background-color: white;
}
#mainright tr td:first-child {
    text-align: center;
}
#mainlefttop{
    float: left;
    background:	#C0C0C0;
    width: 100%;
    height: 50px;
}
#mainlefttop img{
    float: left;
    height: 35px; 
    width: 35px;
    margin-top: 10px;
    margin-left: 20px;
}
#mainlefttop span{
    display: block;
    float: left;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 15px;
}
#mainleftmain{
    float: left;
    width: 100%; 
    height: 611px;
    background: white;
}
#mainleftmain ul
{
    list-style-type: none;
}
#mainleftmain img{
    height: 24px;
    float: left;
}
#mainleftmain li{
	padding-left: 25px; 
    padding-right: 10px;
    padding-top: 10px;
}
.folders{
    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    background-position: 0px 13px; 
    padding-left: 25px; 
    padding-right: 10px;
    padding-top: 10px;
}
#sidenav{
    width: 270px;
    height: 400px;
    padding-left: 30px;
    padding-top: 20px;
}
#sidenav ul{
    display:none
}
.check{
    width: 30px;
}
.name{
    width: 450px;
}
.size{
    width: 100px;
}
.hits{
    width: 60px;
}
.updatetime{
    width: 260px;
}
.operation{
    width: 320px;
}
#mainright th{
    height: 30px;
}
#mainright table{
    border-collapse:collapse;
}
#tableheader th{
    border: 1px solid gray;
}
#mainright td{
    border-bottom: 1px solid gray;
    height: 30px;
}
#mainrightbottom{
    position: absolute;
    top: 711px;
    left: 300px;
    height: 50px;
    width: 1236px;
    background-color: skyblue;
}
#mainrightbottom button{
    background-color: skyblue;
    font-size: 16px;
    width:70px;
    height: 30px;
    float: left;
    margin-left: 30px;
    margin-top: 7px;
    color: blue;
}
.newwindow{
    display: none;
    position: absolute;
    width: 600px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px;
    background: skyblue;
}
.newtop{
    width: 100%;
    height: 50px;
    background: skyblue;
    border-bottom: white 1px solid;
}
.newtop span{
    display: block;
    float: left;
    height: 20px;
    width: 40px;
    margin-top: 25px;
    margin-left: 10px;
    border-right: 2px blue solid;
}
.newtitle{
    font-size: 18px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 50px;
    height: 40px;
    width: 100px;
}
.newtop span:first-of-type {
    margin-left: 300px;
    border-left: 2px blue solid;
    padding-left: 10px;
}
.newmain{
    width: 500px;
    height: 300px;
    margin-top: 25px;
    margin-left: 50px;
    background:whitesmoke;
    border: 1px solid blue;
}
.newmain table{
    width: 450px;
    height: 250px;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 16px;
}
.textarea{
    width: 300px;
    height: 80px;
}
.newmain input,select{
    width: 300px;
}
#querytextarea{
    width: 300px;
    height: 40px;
}
.queryselect{
    width: 100px;
    height: 22px;
}
#querytitle{
    font-size: 18px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 50px;
    height: 40px;
    width: 120px;
}
#querydate{
    width: 120px;
}
#querydate2{
    width: 120px;
}
#historytable th{
    height: 30px;
    border: 1px solid gray;
}
#historytable{
    width: 500px;
    height: 300px;
    margin-top: 25px;
    margin-left: 50px;
    background:whitesmoke;
    border: 1px solid gray;
}
#historytable table{
    width: 500px;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 16px;
    border-collapse:collapse;
    font: 15px;
}
#historytable td{
    height: 30px;
    border: 1px solid gray;
}
#user{
    width: 100px;
}
#time{
    width: 300px;
}
#operation{
    width: 100px;
}
#headertop li{
    cursor:pointer;
}
.newtop span{
    cursor:pointer;
}
#sidenav li{
    cursor:pointer;
}
#querymain select{
	width: 150px;
}
#querymain br{
	display:none;
}
#currentpath{
	display: block;
    height: 35px;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-left: 20px;
}
#mainright img{
	height: 22px;
	weight: 22px;
}
