<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<bean name="loginActionBean" class="action.LoginAction">
 		<property name="userService" ref="userServiceImpl"></property>
 	</bean>
 	<bean name="indexActionBean" class="action.IndexAction">
 		<property name="fileService" ref="fileServiceImpl"></property>
 		<property name="folderService" ref="folderServiceImpl"></property>
 	</bean>
 	<bean name="fileActionBean" class="action.FileAction">
 		<property name="fileService" ref="fileServiceImpl"></property>
 	</bean>
 	<bean name="folderActionBean" class="action.FolderAction">
 		<property name="folderService" ref="folderServiceImpl"></property>
 	</bean>
 	<bean name="uploadActionBean" class="action.UploadAction">
 		<property name="fileService" ref="fileServiceImpl"></property>
 	</bean>
 	<bean name="downloadActionBean" class="action.DownLoadAction">
 		<property name="fileService" ref="fileServiceImpl"></property>
 	</bean>
 	
	<bean name="fileServiceImpl" class="service.impl.FileServiceImpl">
		<property name="fileDAO" ref="fileDAOImpl"></property>
	</bean>
	<bean name="folderServiceImpl" class="service.impl.FolderServiceImpl">
		<property name="folderDAO" ref="folderDAOImpl"></property>
	</bean>
	<bean name="userServiceImpl" class="service.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAOImpl"></property>
	</bean>
 
	<bean name="fileDAOImpl" class="dao.impl.FileDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="folderDAOImpl" class="dao.impl.FolderDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="userDAOImpl" class="dao.impl.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean name="sessionFactory"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources">
            <list>
                <value>pojo/File.hbm.xml</value>
                <value>pojo/Folder.hbm.xml</value>
                <value>pojo/History.hbm.xml</value>
                <value>pojo/User.hbm.xml</value>
            </list>
        </property>
  
        <property name="schemaUpdate"> 
            <value>true</value> 
        </property> 
                 
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
                hibernate.show_sql=true
                hibernate.format_sql=true
                hbm2ddl.auto=update
            </value>
        </property>
    </bean>   
         
    <bean name="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql:///file_management" />
        <property name="username" value="root" />
        <property name="password" value="123456" />
    </bean> 
    
    <!-- 配置事务管理器（声明式的事务） --> 
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"> 
        <property name="sessionFactory" ref="sessionFactory"></property> 
    </bean> 
 
    <tx:advice id="txadvice" transaction-manager="transactionManager"> 
        <tx:attributes> 
        	<!--增加一个专门进行事务管理的bean 这里面的add*,del*等等，表示对于这些名词开头的方法，进行事务管理。 -->
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" /> 
            <tx:method name="del*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="edit*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/> 
            <tx:method name="list*" propagation="REQUIRED" rollback-for="Exception"/> 
        </tx:attributes> 
    </tx:advice> 
    <!--  配置切面    -->
    <aop:config> 
        <aop:pointcut id="serviceMethod" expression="execution(* service.*.*(..))"/> 
        <aop:advisor pointcut-ref="serviceMethod" advice-ref="txadvice"/> 
    </aop:config>    
</beans>
